/* styles for my resume */

/* default styles */
body {
  font-family: 'Niramit', sans-serif;
}

#container {
  width: 100%
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.jumbotron {
  background-color: white;
  border-bottom: solid;
  border-color: #35d710;
}

/* logo/banner */
.banner {
  width: auto;
  margin: 0 auto;
}

/* contact information */
.menu {
  text-align: center;
}

.menu li {
  display: inline;
  font-size: 1.5em;
  padding-right: 15px;
}

/* skill styling */
#skills {
  text-align: center;
}

#skills li {
  font-size: 1.5em;
  list-style: none;
}

/* section headers */
.sectiontitle {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  color: #2121ce;
  margin-bottom: 20px;
  text-align: center;
}

/* columns for jobs and education */
.col-md-6 {
  border-style: dashed;
  border-color: #35d710;
  padding: 10px;
  margin-bottom: 15px;
}

/*job titles */

h3 {
  font-weight: bold;
}

/* columns for skills and NESN job */
.col-md-12 {
  border-style: dashed;
  border-color: #35d710;
  padding: 10px;
  margin-bottom: 15px;
}

#footer {
  text-align: center;
  font-style: italic;
  padding: 15px;
}
