/* Container div styling */

#container {
max-width: 1000px;
width: 100%;
margin: 0 auto;
}

/* Link styling */

a:link {
  color: #e0162b;
  text-decoration: none;
}

a:hover {
  color: #0052a5
}

a:visited {
  color: #999;
}

/* Navbar styling */
.bg-dark {
 background:#000 !important;
}

ul.navbar-nav {
 margin-left:50%;
}

.navbar {
 font-family: 'Lato', sans-serif;
}

.navbar-brand {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 1.25em;
}

/* Top image styling */

.hero-image {
  width: 100%;
  text-align: center;
}

/* Body (headline, subhead, intro, chpater title, main text) styling */
body {
  font-family: 'Libre Baskerville', serif;
}

.headline {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 3em;
  text-align: center;
}

.subhead {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.25em;
  text-align: center;
}

.intro-text {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.25em;
  max-width: 800px;
  display: block;
  margin-top: 25px;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
}

.chaptertitle {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

p {
 font-family: 'Libre Baskerville', serif;
 color: #000000;
 font-size: 1em;
 text-align: left;
 line-height: 180%;
}

blockquote {
  margin: 0 auto;
  font-size: 1.5em;
  font-style: italic;
}

/* Reusable image and caption styling */
.stack-image {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 15px;
}

.caption {
  width:100%;
  max-width:900px;
  margin:0 auto;
  padding-bottom:30px;
  font-family: 'Libre Baskerville', serif;
  color:#999;
}

/* Reusable graphic styling and media query */
.graphic-container {
 padding-top: 30px;
 padding-bottom: 30px;
 border-top: 1px solid #cdcdcd;
 border-bottom: 1px solid #cdcdcd;
 font-family: 'Lato', sans-serif;
 margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .graphic-container {
    width: 100%;
  }
}

.graphic-container h2 {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

.graphic-container p {
  font-weight: 700;
}

#graphic-source {
  text-align: center;
  font-weight: 700;
}

.map-header {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}


/* Footer styling */
#footer {
  color: #ffffff;
  height: 100px;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  font-size: 14px;
  background-color: #000000;
  padding: 25px;
}
